@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    width: 50%;
    margin: 10px auto;
}

div{
    width: 500px;
    height: 300px;
    border: 1px solid black;
}
h2{
    font-family: "Merriweather", serif;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
}
.japan_white{
    display: flex;
    justify-content: center;
    align-items: center;
}

.japan_red{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

.france{
    display: flex;
    justify-content: center;
    align-items: center;
}
.france .france_bule{
    background-color: blue;
}
.france .france_red{
    background-color: red;
}

.finland_flag{
    position: relative;
}
.finland_flag::before{
    content: "";
    position: relative;
    display: block;
    width: 75px;
    height: 100%;
    left: 120px;
    background-color: #003580;
}
.finland_flag::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height:75px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #003580;
}

.gambia_flag{
    background-image: linear-gradient(to bottom,
    #ce2029 33%,
    #fff 33%,
    #fff 40%,
    #2b3281 40%,
    #2b3281 60%,
    #fff 60%,
    #fff 67%,
    #3d783a 0
  );
}
.germany_flag{
    background-image: linear-gradient(to bottom,
    #000000 33%,
    #DD0000 33%,
    #DD0000 66%,
    #FFCC00 0
  );
}

.nigeria_flag{
    background-image: linear-gradient(to left,
    #1B7339 33%,
    #FFFFFF 33%,
    #FFFFFF 66%,
    #1B7339 0
  );
}

.burkina_flag{
    background: linear-gradient(#ee2c30 50%, #13a04a 0);
    display: grid;
    place-items: center;
}
  
.burkina__star {
    width: 100px;
    height: 100px;
    background-color: #fad215;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
      );
}
.chile_flag{
    background: linear-gradient(to bottom, #fff 50%, #e51717 0);
}
.chile_flag::before{
    position: absolute;
    content: "";
    width: 200px;
    height: 150px;
    background-color: #1f2e61;
}
.chile_flag::after{
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  margin: 15px 25px;
  background-color: white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

}
.congo_flag{
    background: linear-gradient(
    135deg,
    #189352 37.52%,
    #ffee08 37.52%,
    #ffee08 62.5%,
    #dd1818 0
  );
}

.Benin_flag{
    background: linear-gradient(#fcd20e 50%, #e90a29 0);
    position: relative;
}
.Benin_flag{
    background: linear-gradient(#fcd20e 50%, #e90a29 0);
    position: relative;
}
.Benin_flag::before{
    content: "";
  position: absolute;
  height: 100%;
  width: 40%;
  background-color: #018850;
}






